/* modal start*/

#modal-order {
    height: 593px;
}

.modal-overlay {
    z-index: 999;
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background-color: var(--background-modal-window);
    transition: all .3s ease-in-out;
}

.modal-overlay.active {
    visibility: visible;
    opacity: 1;
}

.modal-window {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
    max-width: 500px;
    width: 100%;
    padding: 50px;
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    background-color: var(--color-dark-grey);
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.20);
    transition: all .3s ease-in-out;
}

.modal-window.active{
    transform:translateX(-50%) translateY(-50%);
    visibility: visible;
    opacity: 1;
}

.modal-window.modal--policy {
    z-index: 1000;
    max-width: 630px;
    height: 640px;
    padding: 50px 16px 20px 50px;
}

.modal-window__close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
    background-image: url("../../img/close-cross.png");
    background-repeat: no-repeat;
    background-position: center;
}

.modal-window__title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    color: var(--color-white);
}

.modal-window__title.successful {
    margin-bottom: 30px;
}

.modal-window__text {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-ligth-grey);
}

.modal-window__text.successful {
    text-align: center;
}

.modal-form {
    margin-bottom: 24px;
}

.modal-window__input-wrapper {
    position: relative;
}

.modal-window__submit {
    margin-bottom: 16px;
}

.modal-window__placeholder {
    font-family: var(--font-Roboto);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.012px;
    color: var(--color-ligth-grey);
}

.modal-window__btn--policy {
    color: var(--color-orange);
    cursor: pointer;
}

.modal-window__politic-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    color: var(--color-white);
}



.modal-window__successful__background {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 470px;
}
/* modal end*/

/*modal policy*/

.modal-window__policy {
    position: relative;
    max-height: 514px;
    padding-right: 59px;
    overflow-y: scroll;
}

.modal-window__policy p {
    font-family: var(--font-Roboto);
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.013px;
    color: var(--color-white);

    &:not(:first-child) {
        margin-top: 16px;
    }
}

.modal-window__policy::-webkit-scrollbar {
    width: 4px;
}

.modal-window__policy::-webkit-scrollbar-track {
    border-radius: 6px;
    background: #60666F;
}

.modal-window__policy::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 6px;
    background: var(--color-ligth-green);
}

/* modal cookie*/

.modal-cookie {
    z-index: 1001;
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%) translateY(200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 750px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-white);
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.20);
    transition: all .3s ease;
}

.modal-cookie.active {
    transform: translateX(-50%) translateY(0);
}

.modal-cookie__text {
    font-family: var(--font-Roboto);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

@media screen and (max-width: 590px) {

    .modal-window {
        max-width: calc(100% - 25px);
        padding: 30px;
    }

    .modal-window.modal--policy {
        max-width: calc(100% - 25px);
        padding: 20px;
    }
}



